/* Set up the color palette using ColorHunt */
:root {
    --primary-color: #064f40;
    --secondary-color: #f3a712;
    --accent-color: #f1f1f1;
}

header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

header img {
    height: 40px;
    margin-right: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Apply styles to the main content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    flex-grow: 1;

}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

table {

    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}


.employee-card {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
}

.employee-card h4 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.employee-card p {
    margin: 10px 0;
    font-size: 1.1rem;
}

.employee-card ul {
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
}

.employee-card ul li {
    font-size: 1rem;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .main-content {
        justify-content: center;
    }

    .employee-card {
        width: 100%;
    }
}


#emp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
}

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');